*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --title-fnt: "Nunito Sans", sans-serif;
    --content-fnt: "Catamaran", sans-serif;
    --sidebar-clr: #7c9ccc;
    /* 24pt */
    --name-sz: 2rem;
    /* 16pt */
    --title-sz: 1.333rem;
    /* 12pt */
    --content-sz: 1rem;
    --side-ln-clr: #fff;
    --main-ln-clr: #000000;
    --max-width: 1100px;
    --side-width: 450px;
    --print-side: 280px;
}

body {
    margin: 0;
    font-family: var(--content-fnt);
    font-size: var(--content-sz);
    line-height: 1.5;
}

img {
    width: 100%;
}

h1 {
    font-family: var(--title-fnt);
    font-size: var(--name-sz);
    text-transform: uppercase;
}

h2 {
    font-family: var(--title-fnt);
    font-size: var(--title-sz);
    text-transform: uppercase;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}

.personal-information {
    background-color: var(--sidebar-clr);
    padding: 0.5em 1.5em 0.5em 0em;
}

.container {
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.mobile {
    margin: 0;
}

.contact__info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.contact__name {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.objective__title {
    margin-bottom: 0;
    line-height: 1;
}

.objective__info {
    margin-top: 0.5rem;
}

.project__title {
    margin-bottom: 0;
    line-height: 0.5;
}

.education__info {
    line-height: 1;
}

.job__info {
    margin-top: 1.2rem;
    line-height: 0.5;
}

.side-line {
    border-bottom: var(--side-ln-clr) 2px solid;
}

.main-line {
    border-bottom: var(--main-ln-clr) 2px solid;
}

.skills__list {
    margin-top: 0.5rem;
    padding: 0;
    list-style: none;
    line-height: 2;
}

@media (min-width: 600px) {
    .format {
        display: flex;
    }

    .sidebar {
        max-width: var(--side-width);
    }
}

@media print {
    .main-content {
        width: 95%;
    }
    .sidebar {
        max-width: var(--print-side);
    }

    .achievement__title {
        padding-top: 1rem;
    }
}
